.question {
  width: 100%;
  height: min-content;
  border: 1px solid #1570EF;
  border-radius: 8px;
  padding: 24px 24px 20px 24px;
  margin: 24px 0;

  &__header {
    display: flex;

    &__number {
      background: #344054;
      padding: 6px 10px;
      border-radius: 8px;
      color: #fff;
      font-weight: 600;
      min-height: 36px;
      display: inline-block;
      width: 45px;
      text-align: center;
      vertical-align: middle;
      font-size: 16px;
      line-height: 24px;
    }

    &__type-selection {
      margin-left: 8px;

      select {
        padding: 0 10px;
        appearance: none;
        width: max-content;
        min-width: 160px;
        height: 36px;
        font-size: 14px;
        font-weight: 600;
        border: 1px solid #1570EF;
        border-radius: 4px;
        background-color: #F5FAFF;
        background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" stroke="%23175CD3"/></svg>');
        background-repeat: no-repeat;
        background-position: right 8px center;
        background-size: 20px;
        cursor: pointer;
        color: #175CD3;
      }
    }
  }

  &__title {
    margin-top: 20px;

    input {
      border: none;
      font-size: 18px;
      width: 100%;
      color: #182230;

      ::placeholder {
        color: #475467;
      }
    }
  }

  &__options {
    margin-top: 24px;
    padding-bottom: 36px;
    border-bottom: 1px solid #EAECF0;

    textarea {
      font-family: Inter, sans-serif;
      border: none;
      font-size: 18px;
      width: 100%;
      height: 24px;
      color: #475467;
      resize: none;
    }
  }

  &__settings {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    mat-slide-toggle {
      margin-left: 16px;

      ::ng-deep label {
        font-family: Inter, sans-serif;
      }
    }
  }
}
