.notepad-container {
  background: #FFFFFF;
  max-width: 1456px;
  height: auto;
  border: 2px solid #D0D5DD;
  border-radius: 16px;
  padding: 24px 40px;
  margin: 48px auto;

  &__title {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
  }

  &__subtitle {
    font-size: 18px;
    color: #344054;
    margin-top: 16px;
  }

  &__add-button {
    font-size: 14px;
    font-weight: 600;
    color: #1570EF;
    cursor: pointer;

    mat-icon {
      margin-right: 2px;
      margin-bottom: -6px;
    }
  }
}
